@import "tailwindcss";

@theme {
  /* Animasyon Tan覺m覺 */
  --animate-slide-down: slideDown 0.8s ease-out forwards;
  --animate-slide-down2: slideDown 1.8s ease-out forwards;

  /* Keyframe Tan覺m覺 */
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}